body{
    background: #424242;
}

#main_wrapper{
    background-color: white;
	width: 900px;
	margin: auto;
}

#title{
    text-align: center;
}

header h1{
	font-family: 'Arial', serif;
	font-size: 2.5em;
	
}
article h2{
    font-size: 1.2em ;
    font-weight: normal;
    position:;
}

footer h1{
    font-size: 1.1em;
}