body{
    background: #FFE082;
    font-family: Arial;
    color: black;
}
#main_wrapper{
	width: 950px;
	margin: auto;
    border-radius: 5px;
    background: white;
}

#title{
    width: 950px;
    display: inline-block;
}

#tec22{
    width: 70%;
}

header{
    width: 950px;
    height:220px ;
}
header h1{
    font-size: 2.1em;
    font-weight: normal;
}

#logo, header h1{
    display: inline-block;
    text-align: center;
    margin-bottom: 5px;
}

#barr{
    width: 950px;
    border-radius: 5px;
    background: #CFD8DC ;
}
nav{
    text-align: center;
    width: 800px;
    margin-bottom: 6px;
}

nav a{
    color: black;
    font-size: 1.4em;
    padding-bottom: 3px;
    text-decoration: none;
}

article h2{
    display: inline-block;
    margin-bottom: 0px;
}
footer h2{
    display: inline-block;
    margin-bottom: 0px;
}

#bord1{
    margin: 10px;
    border-radius: 5px;
    border: black 2.1px solid;
}

#bord2{
    margin: 10px;
    border-radius: 5px;
    border: black 2.1px solid;
}

#bord3{
    margin: 10px;
    border-radius: 5px;
    border: black 2.1px solid;
}

#bord4{
    margin: 10px;
    border-radius: 5px;
    border: black 2.1px solid;
}

article{
	width: 660px;
	margin-right: 15px;
}

section, aside{
    display: inline-block;
	vertical-align: top;
    text-align: justify;
}

article p{
	font-size: 1em;
}

footer p{
    font-size: 1em;
}

aside{
	width: 235px;
	background-color: #BDBDBD;
	box-shadow: 0px 2px 5px #BDBDBD;
	border-radius: 5px;
	padding: 10px;
	color: black;
	font-size: 0.8em;
}

footer{
    width: 670px;
	margin-right: 15px;
}